
<body class="landingBody">
    <h3 class="landingPage">World Wide Survey App!</h3>
    <h4 class="landingPage1">Allow users throughout your organization to provide feedback from anywhere in the world!</h4>
    <%= video_tag "vid.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
</body>