<h1>Landing page</h1>

<%= video_tag "vid.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<%= link_to 'Go to Surveys', surveys_path, :class => "actions btn waves-effect blue darken2" %>