<h1>Create Survey</h1>
<%= form_for @survey, url: surveys_path do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <button class="actions btn waves-effect blue darken2" type="submit"><%= f.submit "Submit" %>  <i class="material-icons right"></i></button>
<% end %>